body {
  background: #2e363f;
}
.dtw-logo {
  max-height: 30vh;
}
.dtw-logo-white {
  max-height: 35px;
  margin-right: 15px;
}
.dtw-footer {
  background-color: #485058;
  color: white;
  padding: 12px;
}